In [5]:
# Import Libraries and Dependencies
import pandas as pd

### 1. Combine and Clean the Data
#### Import CSVs

In [6]:
# Read the CSV files into DataFrames.
df_2020 = pd.read_csv('/Users/dexterj/athletic_sales_analysis/Starter_Code/Resources/athletic_sales_2020.csv')
df_2021 = pd.read_csv('/Users/dexterj/athletic_sales_analysis/Starter_Code/Resources/athletic_sales_2021.csv')

# Display the first few rows of each DataFrame
print(df_2020.head())
print(df_2021.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet
    retailer  retailer_id invoice_date   region       state           city  \
0  West Gear      1128299       1/1/21     West  California  San Francisco
1  West Gear      1128299       1/1/21     West  California  San Francisco
2     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
3     Kohl's      1189833       1/1/21  Midwest     Montana       Billings
4  West Gear      1128299       1/1/21     West  California  San Francisco

                   product  price_per_unit  units_sold  total_sales  \
0  Men's Athletic Footwear              65         750       487500
1  Men's Athletic Footwear              51         233        11883
2            Men's Apparel              50         275       137500
3            Men's Apparel              47          77         3619
4  Men's Athletic Footwear              64         225        14400

   operating_profit sales_method
0         121875.00       Outlet
1           3208.41       Outlet
2          82500.00       Outlet
3           2714.25       Online
4           5184.00       Online

In [7]:
# Display the 2020 sales DataFrame
print(df_2020)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [8]:
# Display the 2021 sales DataFrame
print(df_2021)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [12]:
# Check the 2020 sales data types.

print(df_2020.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [13]:
# Check the 2021 sales data types.
print(df_2021.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [14]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.

combined_df = pd.concat([df_2020, df_2021], ignore_index=True)

# Reset the index of the combined DataFrame
combined_df.reset_index(drop=True, inplace=True)

# Display the first few rows of the combined DataFrame
print(combined_df.head())

      retailer  retailer_id invoice_date     region         state  \
0  Foot Locker      1185732       1/1/20  Northeast      New York
1  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3  Foot Locker      1185732       1/1/20  Northeast      New York
4  Foot Locker      1185732       1/1/20  Northeast  Pennsylvania

           city                product  price_per_unit  units_sold  \
0      New York  Men's Street Footwear              50        1200
1  Philadelphia        Women's Apparel              68          83
2  Philadelphia        Women's Apparel              75         275
3      New York  Men's Street Footwear              34         384
4  Philadelphia        Women's Apparel              53          83

   total_sales  operating_profit sales_method
0       600000         300000.00     In-store
1         5644           2426.92       Online
2       206250          61875.00       Outlet
3        13056           6789.12       Outlet
4         4399           1407.68       Outlet

In [15]:
# Check if any values are null.
any_nulls = combined_df.isnull().any().any()

if any_nulls:
    print("There are null values in the DataFrame.")
else:
    print("There are no null values in the DataFrame.")

There are no null values in the DataFrame.

In [16]:
# Check the data type of each column
print(combined_df.dtypes)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [ ]:
# Convert the "invoice_date" to a datetime datatype
combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

datetime64[ns]

/var/folders/3t/n5prv6cj1zdg7wjkc9w2rl3w0000gn/T/ipykernel_13450/2476764838.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_df['invoice_date'] = pd.to_datetime(combined_df['invoice_date'])

In [18]:
# Confirm that the "invoice_date" data type has been changed.
print(combined_df['invoice_date'].dtypes)

datetime64[ns]

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [24]:
# Show the number products sold for region, state, and city.
product = combined_df.groupby(['region', 'state', 'city'])['product'].sum().reset_index()
# Rename the sum to "Total_Products_Sold".
product.rename(columns={'products_sold': 'Total_Products_Sold'}, inplace=True)

# Show the top 5 results.
top_products_sold = product.head()
print(top_products_sold)

    region     state          city  \
0  Midwest  Illinois       Chicago
1  Midwest   Indiana  Indianapolis
2  Midwest      Iowa    Des Moines
3  Midwest    Kansas       Wichita
4  Midwest  Michigan       Detroit

                                             product
0  Men's ApparelMen's ApparelWomen's ApparelWomen...
1  Men's Street FootwearMen's ApparelWomen's Stre...
2  Women's Street FootwearMen's Athletic Footwear...
3  Women's Athletic FootwearWomen's ApparelWomen'...
4  Women's ApparelWomen's ApparelMen's ApparelWom...

#### Using `pivot_table`

In [25]:
pivot_table_sales = combined_df.pivot_table(
    index=['region', 'state', 'city'], 
    values='units_sold', 
    aggfunc='sum'
).reset_index()

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table_sales.rename(columns={'units_sold': 'Total_Products_Sold'}, inplace=True)

# Get the top 5 results
top_products_sold_pivot = pivot_table_sales.head()

# Display the top 5 results
print(top_products_sold_pivot)

    region     state          city  Total_Products_Sold
0  Midwest  Illinois       Chicago                25407
1  Midwest   Indiana  Indianapolis                26332
2  Midwest      Iowa    Des Moines                23446
3  Midwest    Kansas       Wichita                29463
4  Midwest  Michigan       Detroit                50095

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [26]:
# Group by region, state, and city, summing the total sales
sales_by_region = combined_df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
sales_by_region.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Get the top 5 results
top_sales_by_region = sales_by_region.head()

# Display the top 5 results
print(top_sales_by_region)

    region     state          city  Total Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

#### Using `pivot_table`

In [27]:
# Create a pivot table to sum the total sales by region, state, and city
pivot_table_sales = combined_df.pivot_table(
    index=['region', 'state', 'city'], 
    values='total_sales', 
    aggfunc='sum'
).reset_index()

# Optionally, rename the "total_sales" column to "Total Sales"
pivot_table_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Get the top 5 results
top_sales_pivot = pivot_table_sales.head()

# Display the top 5 results
print(top_sales_pivot)

    region     state          city  Total Sales
0  Midwest  Illinois       Chicago      9797488
1  Midwest   Indiana  Indianapolis      8836198
2  Midwest      Iowa    Des Moines      7424011
3  Midwest    Kansas       Wichita      9972864
4  Midwest  Michigan       Detroit     18625433

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [28]:
# Group by retailer, region, state, and city, summing the total sales
sales_by_retailer = combined_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()

# Rename the "total_sales" column to "Total Sales"
sales_by_retailer.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Get the top 5 results
top_sales_by_retailer = sales_by_retailer.head()

# Display the top 5 results
print(top_sales_by_retailer)

  retailer     region          state        city  Total Sales
0   Amazon    Midwest           Ohio    Columbus     16835873
1   Amazon  Northeast          Maine    Portland      8611395
2   Amazon  Northeast  Massachusetts      Boston      4193590
3   Amazon  Northeast  New Hampshire  Manchester     10077142
4   Amazon  Northeast        Vermont  Burlington     13380463

#### Using `pivot_table`

In [ ]:
# Create a pivot table to sum the total sales by retailer, region, state, and city
pivot_table_sales_2020 = df_2020.pivot_table(
    index=['retailer', 'region', 'state', 'city'], 
    values='total_sales', 
    aggfunc='sum'
).reset_index()

# Optionally, rename the "total_sales" column to "Total Sales"
pivot_table_sales_2020.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Get the top 5 results
top_sales_pivot_2020 = pivot_table_sales_2020.head()

# Display the top 5 results
print(top_sales_pivot_2020)

      retailer     region         state          city  Total Sales
0  Foot Locker    Midwest     Minnesota   Minneapolis      6619565
1  Foot Locker  Northeast      New York      New York     25008568
2  Foot Locker  Northeast  Pennsylvania  Philadelphia       216293
3  Foot Locker  Southeast       Florida         Miami      9564336
4  Foot Locker       West    Washington       Seattle      1468043

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [42]:
sales_data = pd.concat([df_2020, df_2021])
women_athletic_sales = sales_data[sales_data['product'] == "Women's Athletic Footwear"]
retailer_sales = women_athletic_sales.groupby('retailer').agg({'units_sold': 'sum'})
top_retailer = retailer_sales.idxmax()
top_sales = retailer_sales.max()
print(f"The retailer with the most Women's Athletic Footwear sales is {top_retailer} with {top_sales} units sold.")

The retailer with the most Women's Athletic Footwear sales is units_sold    West Gear
dtype: object with units_sold    82539
dtype: int64 units sold.

#### Using `groupby`

In [43]:
grouped_sales = women_athletic_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
grouped_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)
top_5_sales = grouped_sales.nlargest(5, 'Womens_Footwear_Units_Sold')
print(top_5_sales)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [44]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.

pivot_table = women_athletic_sales.pivot_table(
    index=['retailer', 'region', 'state', 'city'],
    values='units_sold',
    aggfunc='sum'
).reset_index()
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_table.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'}, inplace=True)

# Show the top 5 results.
top_5_sales = pivot_table.nlargest(5, 'Womens_Footwear_Units_Sold')
print(top_5_sales)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [45]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
pivot_table_sales = sales_data.pivot_table(
    index='invoice_date',
    values='total_sales',
    aggfunc='sum'
).reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_table_sales.rename(columns={'total_sales': 'Total Sales'}, inplace=True)

# Show the table.
print(pivot_table_sales)

    invoice_date  Total Sales
0         1/1/20       845141
1         1/1/21       654902
2        1/10/20       200469
3        1/10/21      3675792
4        1/11/20       129556
..           ...          ...
718       9/7/21      1120330
719       9/8/20       726106
720       9/8/21      2683674
721       9/9/20       814562
722       9/9/21      2008803

[723 rows x 2 columns]

In [47]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = pivot_table_sales.resample('D').sum()

# Sort the resampled pivot table in descending order on "Total Sales".
sorted_daily_sales = daily_sales.sort_values(by='Total Sales', ascending=False)

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [23]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in descending order on "Total Sales".

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
2021-08-22        2491259
2021-08-15        2463941
2021-11-21        2449537
2021-05-16        2422132
2021-06-13        2358602